{% extends 'base.html.twig' %}

{% block title %} <title> {{ county.label }} </title>{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mt-5 pt-5">{{ county.label }}</h1>
        <br>
        <br>

        {% if traobjects %}

            <h2>Objets perdus</h2>

            <div class="row">
                {% for traobject in traobjects if traobject.state=='Perdu' %}
                    <article class="col-md-3">
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
                    </article>
                {% else %}
                    Aucun objets trouvés en {{ county.label }}
                {% endfor %}
            </div>

            <h2>Objets trouvés</h2>

            <div class="row">
                {% for traobject in traobjects if traobject.state=='Trouvé' %}
                    <article class="col-md-3">
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
                    </article>
                {% else %}
                    Aucun objets trouvés en {{ county.label }}
                {% endfor %}
            </div>
        {% else %}
            Aucun objets trouvés en {{ county.label }}

        {% endif %}



    </div>
{% endblock %}
