{% extends 'base.html.twig' %}

{% block title %}Traobject index{% endblock %}

{% block body %}
    <h1>Traobject index</h1>
<div class="container">
    <a href="{{ path('traobject_new') }}" class="btn btn-sm btn-success">Ajouter un Traobject</a>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Etat</th>
                <th>Image</th>
                <th>Description</th>
                <th>Date evenement</th>
                <th>Date Fin</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Date création</th>
                <th>Date de MAJ</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for traobject in traobjects %}
            <tr>
                <td>{{ traobject.title }}</td>
                <td>{{ traobject.state.label }}</td>
                <td><img class="img-thumbnail-100" src="{{ asset('uploads/' ~ traobject.picture) }}" alt=""></td>
                <td>{{ traobject.description }}</td>
                <td>{{ traobject.eventAt ? traobject.eventAt|date('d/m/Y') : '' }}</td>
                <td>{{ traobject.dateEnd ? traobject.dateEnd|date('d/m/Y') : '' }}</td>
                <td>{{ traobject.city }}</td>
                <td>{{ traobject.address }}</td>
                <td>{{ traobject.createdAt ? traobject.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ traobject.updatedAt ? traobject.updatedAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('traobject_edit', {'id': traobject.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
