{% extends "base.html.twig" %}

{% extends 'base.html.twig' %}



{% block title %}Objects  {{ traobject.state.label }}{% endblock %}

{% block body %}
    <h1>Traobject index</h1>
    <div class="container">
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Date evenement</th>
                <th>Date Fin</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Date création</th>
                <th>Date de MAJ</th>
            </tr>
            </thead>
            <tbody>
            {% for traobject in traobjects with with {'state': traobjectfound }%}
                <tr>
                    <td>{{ traobject.title }}</td>
                    <td><img class="img-thumbnail-100" src="{{ asset('uploads/' ~ traobject.picture) }}" alt=""></td>
                    <td>{{ traobject.description }}</td>
                    <td>{{ traobject.eventAt ? traobject.eventAt|date('d/m/Y') : '' }}</td>
                    <td>{{ traobject.dateEnd ? traobject.dateEnd|date('d/m/Y') : '' }}</td>
                    <td>{{ traobject.city }}</td>
                    <td>{{ traobject.address }}</td>
                    <td>{{ traobject.createdAt ? traobject.createdAt|date('d/m/Y') : '' }}</td>
                    <td>{{ traobject.updatedAt ? traobject.updatedAt|date('d/m/Y') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}